/* Shared style */
.secondary-bg{
  background-color: #FFF8F3;
}
.text-primary{
  color: #FD6E0A;
}
.primary-btn{
  background-color: #FD6E0A;
  color: #FFFFFF;
  padding: 18px 35px;
  font-weight: 700px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description{
  font-size: 18px;
  font-weight: 300px;
  color: #757575;
}
/* Main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* Nav style */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-2{
  color: #474747;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0 120px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
  margin-left: 135px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 51px;
}
nav ul a{
  text-decoration: none;
}
/* header style */
.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}
/* banner style */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 255px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600px;
}
.banner-title{
  font-weight: 700px;
  font-size: 85px;
}
.banner-description{
  font-size: 18px;
  font-weight: 400px;
}
.banner-prfl-pic{
  width: 585px;
}
.banner-content{
  max-width: 580px;
}
/* About style */
.about{
  border-radius: 10px;
  padding : 138px 132px;
  text-align: center;
  margin-top: 130px;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-title{
  font-size: 20px;
  font-weight: 600px;
  color: #757575;
}
.item-description{
  font-size: 20px;
  font-weight: 800px;
  color: #474747;
}
